.App {
  text-align: center;
  margin-bottom: 30px;

  .btn-list {
    margin-left: 40px;
  }
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 5px;
  color: white;
  margin-bottom: 20px;
}
